@font-face{
    font-family: 'Poppins';
    font-weight: 400;
    src: url(../fonts/Poppins-Regular.ttf);
}

@font-face{
    font-family: 'Poppins';
    font-weight: 500;
    src : url(../fonts/Poppins-Medium.ttf);
}

@font-face{
    font-family: 'Poppins';
    font-weight: 600;
    src : url(../fonts/Poppins-Light.ttf);
}

@font-face{
    font-family: 'Poppins';
    font-weight: 700;
    src : url(../fonts/Poppins-Bold.ttf);
}

@font-face{
    font-family: 'Roboto';
    font-weight: 400;
    src : url(../fonts/Roboto-Regular.ttf);
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
   width: 100%;
   margin:0 100px;
}

.float-right{
    float: right;
}

.float-left{
    float: left;
}

.row{
    padding: 0 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.content-center{
    justify-content: center;
}

.row + .row{
    margin-bottom: 15px;
}

.mb-3{
    margin-bottom: 30px;
}

.mt-3{
    margin-top: 30px;
}

.mt-5{
    margin-top: 50px;
}

.mb-5{
    margin-bottom: 50px;
}

.text-center{
    text-align: center;
}

.z-5{
    z-index: 5;
}

col-md-1{ flex: none; width: calc(100% / 12 * 1); }
col-md-2{flex:none; width: calc(100% / 12 *2 ); }
col-md-3{flex:none; width: calc(100% / 12 *3 ); }
col-md-4{flex:none; width: calc(100% / 12 *4 ); }
col-md-5{flex:none; width: calc(100% / 12 *5 ); }
col-md-6{flex:none; width: calc(100% / 12 *6 ); }
col-md-7{flex:none; width: calc(100% / 12 *7 ); }
col-md-8{flex:none; width: calc(100% / 12 *8 ); }
col-md-9{flex:none; width: calc(100% / 12 *9 ); }
col-md-10{flex:none; width: calc(100% / 12 *10 ); }
col-md-11{flex:none; width: calc(100% / 12 *11 ); }
col-md-12{flex:none; width: calc(100% / 12 *12 ); }


@media screen and (min-width: 960px){
   .container {
        width: 1120px;
   }

.col-md-1 {flex: none; width: calc(100% / 12 * 1)}
.col-md-2 {flex:none; width: calc(100% / 12 * 2)}
.col-md-3 {flex:none; width: calc(100% / 12 * 3)}
.col-md-4 {flex:none; width: calc(100% / 12 * 4)}
.col-md-5 {flex:none; width: calc(100% / 12 * 5)}
.col-md-6 {flex:none; width: calc(100% / 12 * 6)}
.col-md-7 {flex:none; width: calc(100% / 12 * 7)}
.col-md-8 {flex:none; width: calc(100% / 12 * 8)}
.col-md-9 {flex:none; width: calc(100% / 12 * 9)}
.col-md-10 {flex:none; width: calc(100% / 12 * 10)}
.col-md-11 {flex:none; width: calc(100% / 12 * 11)}
.col-md-12 {flex:none; width: calc(100% / 12 * 12)}

}


